<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SDMS</title>
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" >
  <link rel="shortcut icon" type="text/css" href="{{url_for('static',filename='msuiitlogo.png')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{url_for('static',filename='css/home.css')}}" rel="stylesheet" type="text/css" >
</head>

<body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header"> 
        </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="https://www.msuiit.edu.ph/about/" target="_blank">About us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right  
              ">
                 <li><a href="http://127.0.0.1:5000/">Logout</a>
              </ul>
        </div>
      </nav>
    {% block body %}


  <div class="container">
    <div class="well">
    <h1 align="center">STUDENT DATA MANAGEMENT SYSTEM</h1>
    </div>
    <div class="well">
     <form class="example" action="{{url_for('search')}}" method="POST">
       <input type="text" placeholder="Search.." name="search">
       <button type="submit"><i class="fa fa-search"></i></button>
     </form>
    </div>
    <div class="row">
        <div class="col md-12">
           <h1>Student List<button type="button" class="btn btn-success pull-right" data-toggle = "modal" data-target= "#mymodal">Add Student Data</button></h1>


           {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
           {% for category,message in messages %}
            {% if category == "error" %}
            <div class="alert alert-danger alert-dimissable" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="close">
               <span aria-hidden="true">x</span>
             </button>
              <div class="alert-{{ category }}">{{ message }}</div>
           </div>
           {% endif %}
           {% endfor %}
           {% endif %}
           {% endwith %}

           <table class="table table-stripped">
            <tr>
              <th>School ID no.</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Sex</th>
              <th>Phone Number</th>
              <th>Course</th>
              <th>Year Level</th>
              <th>Actions</th>
            </tr>

            {% for student in students %}
            <tr>
              <td>{{student.1}}</td>
              <td>{{student.2}}</td>
              <td>{{student.3}}</td>
              <td>{{student.4}}</td>
              <td>{{student.5}}</td>
              <td>{{student.6}}</td>
              <td>{{student.7}}</td>
              <td>{{student.8}}</td>
              

              <!--for actions--> 
              <td>
                <a  href="/update/{{student.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{student.0}}">Update</a>
                <a  href="/delete/{{student.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
              </td>
            </tr>

            
            
        </div>
    </div>

   <div id="modaledit{{student.0}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i>Update Information Student ID:</i><strong>{{student.0}}</strong></h4>
        </div>

        <div class="modal-body">
          <form action="{{url_for('update')}}" method="POST">

            <!-- value is an example change it later -->
         

            <div class="form-group">
              <label>First Name:</label>
               <input type="hidden"  name="rawID" value="{{student.0}}">
               <input type="hidden"  name="schoolID" value="{{student.1}}">
              <input type="text" class="form-control" name="firstName" value="{{student.2}}" required="1">
            </div>

            <div class="form-group">
              <label>Last Name:</label>
              <input type="text" class="form-control" name="lastName" value="{{student.3}}" required="1">
            </div>

            <div class="form-group">
              <label>Age:</label>
              <input type="number" class="form-control" name="age" value="{{student.4}}" required="1" min="1" max="100">
            </div>

            <div class="form-group">
              {% if (student.5)|length==4 %}
              <label>Sex:</label><br>
              <input type="radio" id="male" name="sex" value="male"  checked>
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="sex" value="female">
              <label for="female">Female</label>
              {% else %}
              <label>Sex:</label><br>
              <input type="radio" id="male" name="sex" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="sex" value="female" checked> 
              <label for="female">Female</label>
              {% endif %}
            </div>

            <div>
              <label>Phone Number:</label>
              <input type="text" class="form-control" name="phoneNumber" value="{{student.6}}" required="1">
            </div>
            <br>
            <div class="form-group">
              <label>Course:</label>
              <input type="text" class="form-control" name="course" value="{{student.7}}" required="1">
            </div>

            <div class="form-group">
              <label>Year Level:</label>
              <input type="number" class="form-control" name="yearLevel" value="{{student.8}}" required="1" min="1" max="7">
            </div>

            <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update Data</button>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-defualt" data-dismiss="modal">Close</button>
          
        </div>

      </div>
    </div>
    
  </div>

  {% endfor %}


  <div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <h4 class="modal-title">Please Insert Data</h4>
        </div>

        <div class="modal-body">
          <form action="{{url_for('insert')}}" method="POST">

            <div class="form-group">
              <label>First Name:</label>
              <input type="text" class="form-control" name="firstName" required="1">
            </div>

            <div class="form-group">
              <label>Last Name:</label>
              <input type="text" class="form-control" name="lastName" required="1">
            </div>

            <div class="form-group">
              <label>Age:</label>
              <input type="number" class="form-control" name="age" required="1" min="1" max="100">
            </div>

            <div class="form-group">
              <label>Sex:</label><br>
              <input type="radio" id="male" name="sex" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="sex" value="female">
              <label for="female">Female</label>
            </div>

            <div class="form-group">
              <label>Phone Number:</label>
              <input type="text" class="form-control" name="phoneNumber" required="1">
            </div>

            <div class="form-group">
              <label>Course:</label>
              <input type="text" class="form-control" name="course" required="1">
            </div>

            <div class="form-group">
              <label>Year Level:</label>
              <input type="number" class="form-control" name="yearLevel" required="1" min="1" max="7">
            </div>

            <div class="form-group">
                  <button class="btn btn-success" type="submit">Insert Data</button>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-defualt" data-dismiss="modal">Close</button>
          
        </div>

        
      </div>
    </div>
    
  </div>

   </table>
   {% endblock %}



  </div> 
   

  <div class="well">
  <h6><a href="https://twitter.com/mersan27" class="twitter-follow-button" data-show-count="false" target="_blank">Follow @mersan27</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
  <span class="pull-right"><a href="https://github.com/mersanko" target="_blank">Follow @mersanko <i style="font-size:24px;color:black" class="fa">&#xf09b;</i></a></span>
  </h6>
  </div>

   

</body>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>


</html>